<!doctype html>
<html class="no-js">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Amaze UI Admin form Examples</title>
  <meta name="description" content="这是一个form页面">
  <meta name="keywords" content="form">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="renderer" content="webkit">
  <meta http-equiv="Cache-Control" content="no-siteapp" />
  <link rel="icon" type="image/png" href="/assets/i/favicon.png">
  <link rel="apple-touch-icon-precomposed" href="/assets/i/app-icon72x72@2x.png">
  <meta name="apple-mobile-web-app-title" content="Amaze UI" />
  <link rel="stylesheet" href="/assets/css/amazeui.min.css"/>
  <link rel="stylesheet" href="/assets/css/admin.css">
</head>
<body>
<!--[if lte IE 9]>
<p class="browsehappy">你正在使用<strong>过时</strong>的浏览器，Amaze UI 暂不支持。 请 <a href="http://browsehappy.com/" target="_blank">升级浏览器</a>
  以获得更好的体验！</p>
<![endif]-->

<header class="am-topbar am-topbar-inverse admin-header">
  <div class="am-topbar-brand">
    <strong>Image Search</strong> <small>图像搜索</small>
  </div>

  <button class="am-topbar-btn am-topbar-toggle am-btn am-btn-sm am-btn-success am-show-sm-only" data-am-collapse="{target: '#topbar-collapse'}"><span class="am-sr-only">导航切换</span> <span class="am-icon-bars"></span></button>

  <div class="am-collapse am-topbar-collapse" id="topbar-collapse">

    <ul class="am-nav am-nav-pills am-topbar-nav am-topbar-right admin-header-list">
      <li class="am-dropdown" data-am-dropdown>
        <a class="am-dropdown-toggle" data-am-dropdown-toggle href="javascript:;">
          <span class="am-icon-users"></span> 管理员 <span class="am-icon-caret-down"></span>
        </a>
        <ul class="am-dropdown-content">
          <li><a href="https://login.bce.baidu.com/"><span class="am-icon-user"></span> 管理</a></li>
        </ul>
      </li>
    </ul>
  </div>
</header>

<div class="am-cf admin-main">
  <!-- sidebar start -->
  <div class="admin-sidebar am-offcanvas" id="admin-offcanvas">
    <div class="am-offcanvas-bar admin-offcanvas-bar">
      <ul class="am-list admin-sidebar-list">
        <li><a href="/index_same"><span class="am-icon-leaf"></span> 相同图(本地图片)/Same</a></li>
        <li><a href="/index_similar"><span class="am-icon-tree"></span> 相似图(本地图片)/Similar</a></li>
        <li><a href="/index_product"><span class="am-icon-paper-plane"></span> 商品图(本地图片)/Product</a></li>
        <li><a href="/index_same_url"><span class="am-icon-plane"></span> 相同图(网络图片)/Same</a></li>
        <li><a href="/index_similar_url"><span class="am-icon-rocket"></span> 相似图(网络图片)/Similar</a></li>
        <li><a href="/index_product_url"><span class="am-icon-globe"></span> 商品图(网络图片)/Product</a></li>
      </ul>
    </div>
  </div>
  <!-- sidebar end -->

<!-- content start -->
<div class="admin-content">
  <div class="admin-content-body">
    <div class="am-cf am-padding am-padding-bottom-0">
      <div class="am-fl am-cf">
        <strong class="am-text-primary am-text-lg am-icon-rocket">相似图(网络图片)</strong> /
        <small>Similar</small>
      </div>
    </div>

    <hr>

    <div class="am-tabs am-margin" data-am-tabs>
      <ul class="am-tabs-nav am-nav am-nav-tabs">
        <li class="am-active"><a href="#tab1">入库/putIn</a></li>
        <li><a href="#tab2">检索/check</a></li>
        <li><a href="#tab3">更新/update</a></li>
        <li><a href="#tab4">删除/delete</a></li>
      </ul>

      <div class="am-tabs-bd">
        <div class="am-tab-panel am-fade am-in am-active" id="tab1">
          <form class="am-form" action="/similar_put_in_url/" method="post" enctype="multipart/form-data">
              {% csrf_token %}
              <div class="am-g am-margin-top">
                <div class="am-u-sm-4 am-u-md-2 am-text-right">
                    网络图片地址
                  </div>
                  <div class="am-u-sm-8 am-u-md-4 am-u-end col-end">
                    <input type="text" id="url1" class="am-input-sm" name="URL" required/>
                  </div>
              </div>

              <div class="am-g am-margin-top">
                <div class="am-u-sm-4 am-u-md-2 am-text-right">
                    所属类别
                  </div>
                  <div class="am-u-sm-8 am-u-md-4 am-u-end col-end">
                    <input type="text" class="am-input-sm" name="category" />
                  </div>
              </div>

              <div class="am-g am-margin-top">
                <div class="am-u-sm-4 am-u-md-2 am-text-right">
                    图片名称
                  </div>
                  <div class="am-u-sm-8 am-u-md-4 am-u-end col-end">
                    <input type="text" class="am-input-sm" name="name" />
                  </div>
              </div>

              <div class="am-margin">
                <button type="submit" class="am-btn am-btn-primary am-btn-xs btn-loading-example">入库保存</button>
              </div>

          </form>
        </div>

        <div class="am-tab-panel am-fade" id="tab2">
          <form class="am-form" action="/similar_check_url/" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="am-g am-margin-top">
                <div class="am-u-sm-4 am-u-md-2 am-text-right">
                    网络图片地址
                  </div>
                  <div class="am-u-sm-8 am-u-md-4 am-u-end col-end">
                    <input type="text" id="url2" class="am-input-sm" name="URL" required/>
                  </div>
            </div>

            <div class="am-g am-margin-top">
                <div class="am-u-sm-4 am-u-md-2 am-text-right">
                    所属类别
                  </div>
                  <div class="am-u-sm-8 am-u-md-4 am-u-end col-end">
                    <input type="text" class="am-input-sm" name="category">
                  </div>
            </div>

            <div class="am-margin">
                <button type="submit" class="am-btn am-btn-primary am-btn-xs btn-loading-example">检索</button>
            </div>

          </form>
        </div>

        <div class="am-tab-panel am-fade" id="tab3">
          <form class="am-form" action="/similar_update_url/" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="am-g am-margin-top">
                <div class="am-u-sm-4 am-u-md-2 am-text-right">
                    网络图片地址
                  </div>
                  <div class="am-u-sm-8 am-u-md-4 am-u-end col-end">
                    <input type="text" id="url3" class="am-input-sm" name="URL" required/>
                  </div>
            </div>

              <div class="am-g am-margin-top">
                <div class="am-u-sm-4 am-u-md-2 am-text-right">
                    所属类别
                  </div>
                  <div class="am-u-sm-8 am-u-md-4 am-u-end col-end">
                    <input type="text" class="am-input-sm" name="category">
                  </div>
              </div>

              <div class="am-margin">
                <button type="submit" class="am-btn am-btn-primary am-btn-xs btn-loading-example">更新</button>
              </div>

          </form>
        </div>

        <div class="am-tab-panel am-fade" id="tab4">
          <form class="am-form" action="/similar_delete_url/" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="am-g am-margin-top">
                <div class="am-u-sm-4 am-u-md-2 am-text-right">
                    网络图片地址
                  </div>
                  <div class="am-u-sm-8 am-u-md-4 am-u-end col-end">
                    <input type="text" id="url4" class="am-input-sm" name="URL" required/>
                  </div>
              </div>

            <div class="am-margin">
                <button type="submit" class="am-btn am-btn-primary am-btn-xs btn-loading-example">删除</button>
            </div>

          </form>
        </div>

      </div>

    </div>

  </div>

  <footer class="admin-content-footer">
    <hr>
    <p class="am-padding-left">© 2019 image search. Licensed under MIT license.</p>
  </footer>
</div>
<!-- content end -->

</div>

<a href="#" class="am-icon-btn am-icon-th-list am-show-sm-only admin-menu" data-am-offcanvas="{target: '#admin-offcanvas'}"></a>

<footer>
  <hr>
  <p class="am-padding-left">© 2019 image search. Licensed under MIT license.</p>
</footer>

<!--[if lt IE 9]>
<script src="http://libs.baidu.com/jquery/1.11.1/jquery.min.js"></script>
<script src="http://cdn.staticfile.org/modernizr/2.8.3/modernizr.js"></script>
<script src="/assets/js/amazeui.ie8polyfill.min.js"></script>
<![endif]-->

<!--[if (gte IE 9)|!(IE)]><!-->
<script src="/assets/js/jquery-3.3.1.min.js"></script>
<!--<![endif]-->
<script src="/assets/js/amazeui.min.js"></script>
<script src="/assets/js/app.js"></script>
<script>
$('.btn-loading-example').click(function () {
  var $btn = $(this)
  var oInput1 = document.getElementById('url1');
  var oInput2 = document.getElementById('url2');
  var oInput3 = document.getElementById('url3');
  var oInput4 = document.getElementById('url4');
  if(oInput1.value != ''){
      $btn.button('loading');
  }
  else if(oInput2.value != ''){
      $btn.button('loading');
  }
  else if(oInput3.value != ''){
      $btn.button('loading');
  }
  else if(oInput4.value != ''){
      $btn.button('loading');
  }
});
</script>
<script type="text/javascript">
    var sign = {{ sign }};
    if(sign == 0){
        alert("Error and error message is "+"{{ error_msg }}");
    }
    else if(sign == 1){
        alert("Success!");
    }
</script>
</body>
</html>